* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

}

.container {
    padding: 20px;
    border: 1px solid red;
    margin-top: 100px;
    width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: repeating-linear-gradient(-55deg,
    #ffffff,
    #ffffff 10px,
    #eeeeee 10px,
    #eeeeee 20px)
}

.input_field {
    display: flex;
    justify-content: center;
}

.all_spends {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid rgb(136, 136, 136);
}
.input{
    display: flex;
    justify-content: center;
    padding: 12px 20px;
    margin: 8px 10px;
    box-sizing: border-box;
    font: 14px "Roboto Light", sans-serif;
    border: 2px solid rgb(136, 136, 136);
    width: 85px;
    border-radius: 10px;
    transition: width 0.4s ease-in-out;
}
.input:focus {
    outline: none;
    width: 250px;
    background: #f2f7fd;
    border: 2px solid black;

}
.input_field input::placeholder {
    color: #455159;
}

.button_add {
    width: 72px;
    margin: 8px 10px;
    outline: 0;
    border: 2px solid rgb(136, 136, 136);
    border-radius: 10px 10px 10px 2px;
    background-color: white;
}
.button_add:hover {
    background-color:#f2f7fd;
    border: 2px solid black;
}

.container_task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}
.task span {
    width: 50px;
    margin: 10px 30px ;
}