html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    height: 200px;
    width: 200px;
    background-image: conic-gradient(#a1ca91 0deg, #a1ca91 45deg, #d4e4bf 45deg, #d4e4bf 135deg, #a1ca91 135deg);
}

.sm {
    height: 120px;
    width: 120px;
    background-color: #edf4e5;
}

.circle1 span {
    font-size: 64px;
}
