html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    height: 200px;
    width: 200px;
    background-color: #a1ca91;
}

.sm {
    height: 120px;
    width: 120px;
    background-color: #edf4e5;
}

.circle1 span {
    font-size: 64px;
}
.input {
    width: 80px;
}

