.check {
  text-decoration: line-through;
  color: gray;
  margin-top: -5px;
}

.not_check {
  color: black;
  margin-top: -5px;

}

.card {
  cursor: pointer;
  font-size: 30px;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}
.card:hover {
  background: rgb(220, 218, 218);
}

.operators {
  display: flex;
  gap: 10px;
  flex-direction: row;
}
.font {
  font-size: 18px
}

.input {
  width: 70%;
}
.edit {
  display: flex;
  justify-content: space-between;
}

.operators_edit {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
