.check {
  text-decoration: line-through;
  color: gray;
  margin-top: 10px;
  line-height: 1.5;
  word-break: break-all;
}

.not_check {
  color: black;
  margin-top: 10px;
  line-height: 1.5;
  word-break: break-all;
}

.task_edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.operators {
  display: flex;
  gap: 10px;
}

.pencil {
  font-size: 24px;
}

.card {
  cursor: pointer;
  font-size: 30px;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.card:hover {
  background: rgb(220, 218, 218);
}


.font {
  font-size: 32px;

}

.input {
  width: 80%;
}
.edit {
  display: flex;
  justify-content: space-between;
}

.operators_edit {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.divide {
  margin-top: 10px;
}
