html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 20%;
    margin-right: 5px;
}

.date {
    display: flex;
    justify-content: center;
    background-color: #3A91EC;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: white;
    padding: 5px 20px;
}

.card_img {
    display: flex;
    justify-content: center;
}

.img {
    width: 50%;
    height: 50%;
    margin-top: 10px
}

.temp {
    margin: 10px auto;
    font-size: 48px;
}

.card:hover {
    box-shadow : 1px 3px 5px 5px rgba(0, 0, 0, 0.4);
}