.container {
    width: 1140px;
    margin: auto;
    display: block;
}

.logo {
    height: 6%;
    width: 6%;
    padding-top: 20px;
}

.text_page {
    padding-top: 30px;
    margin-left: 40px;
    font: 16px "Open Sans", sans-serif;
}

.name {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 40px auto;
}

.how_to_find_home {
    font: 72px Merriweather, serif;
    color: #0045BE;
    font-weight: bold;
}

.main {
    display: flex;
    justify-content: center;
}

.family_photo {
    height: 854px;
    width: 854px;
    border-radius: 50%;
    margin: 40px auto 0;
}

.cards {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    margin-top: -239px;
    width: 100%;
    gap: 40px;

    flex-wrap: wrap;
}

.card {
    padding: 20px;
    height: 322px;
    width: 252px;
    background-color: white;
    box-shadow: 1px 1px 10px 4px rgba(34, 60, 80, 0.15);
}

.internal_img {
    margin: 25px 0 0;
    padding: 0;
    height: 76px;
    width: 76px;
}

.head_text {
    font: 24px Roboto, sans-serif;
    font-weight: bold;
    margin: 20px 0 0;
    letter-spacing: 2px;
    word-wrap: break-word;
}

.text {
    font: 16px "Open Sans", sans-serif;
    margin: 20px 0 0;
    line-height: 1.6;
    font-size: 1rem;
}

.freepik {
    font: 16px "Open Sans", sans-serif;
    margin-top: 30px;
    margin-bottom: 60px;
    letter-spacing: 1px;
    margin-left: -45px;
}

.freepik a {
    color: #0045be;
    padding-bottom: 3px;
    border-bottom: 1px solid #0045BE;

}

@media (max-width: 1199px) {
    .card {
       height: 347px;
        width: 220px;
    }
    .container {
        width: 940px;
    }
}
@media (max-width: 991px) {
    .card {
        height: 312px;
        width: 275px;
    }
    .container {
        width: 720px;
    }
    .cards {
        margin-top: -150px;
    }
    .how_to_find_home {
        font: 48px Merriweather, serif;
        font-weight: bold;

    }
    .family_photo {
        height: 714px;
        width: 714px;
    }

}
@media (max-width: 767px) {
    .family_photo {
        height: 531px;
        width: 531px;
    }
    .card {
        width: 215px;
        height: 375px;
        padding: 20px 15px;
    }
    .container {
        width: 600px;
    }
    .name {
        width: 401px;
        margin-top: 51px;
        justify-content: center;
    }
    .how_to_find_home {
        max-width: 300px;
        text-align: center;
    }
    .cards {
        width: 100%;
    }
}
@media (max-width: 575px) {
    .container {
        width: 300px;
    }
    .cards {
        margin-top: -80px;
    }
    .card {
        gap: 40px;
        width: 80%;
        height: 325px;
    }
    .family_photo {
        height: 379px;
        width: 379px;
    }
    .name {
        width: 320px;

    }
    .how_to_find_home {
        font: 36px Merriweather, serif;
        font-weight: bold;
        max-width: 300px;
        text-align: center;
    }
}
@media (max-width: 370px) {
    .card {
        height: 20%;
    }
}
