html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f1f3d;
}

.container {
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 5px 16px 9px 8px rgba(0, 0, 0, 0.46);
}

.block {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.border {
    min-height: 180px;
    border-right: 1px solid #969696;
}

.name {
    font-size: 24px;
    white-space: nowrap;
    color: #E7744A;
    margin: 10px;
    font-weight: bold;
}

.more_info {
    margin-top: 10px;
    color: white;
    background-color: #E7744A;
    border:none;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
}

.img {
    max-width: 50%;
    max-height: 50%;
}